@model MvcInternetShop.ViewModels.Admin.AddGroupViewModel

@{
    ViewBag.Title = "Groups";
}

<div class="block grid12">
    <div class="breadcrumb">
        <a href="/Home/Index">صفحه اصلی</a><span>›</span><a href="/Admin/Groups">مدیریت گروه ها</a>
    </div>
</div>
<div class="full12">
    <div class="block grid12">
        @using (Html.BeginForm("AddGroup", "Admin", FormMethod.Post, new { id = "groupForm" }))
        {
            <h1 class="block-header">افزودن گروه</h1>
            <div class="separator"></div>
            <div class="block-standart">
                <div class="form inline">
                    <div class="group" style="display:inline-block">
                        @Html.Partial("_GroupList", Model.Groups)
                    </div> 
                      <div class="group" style="display:inline-block;vertical-align:top;padding-right:20px">
                        <label class="label">نام گروه <span class="required">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(p => Model.Group.Name, new { @class = "text" })
                            @Html.ValidationMessageFor(p => Model.Group.Name)
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            <button class="button" id="btnAdd">افزودن گروه</button>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            <button class="button" id="btnEdit">ثبت ویرایش</button>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            <button class="button" id="btnDelete">&nbsp;&nbsp;حذف گروه&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#Group_ParentId").click(function () {
                if ($("#Group_ParentId").find(":selected").length > 0) {
                    var txt = $("#Group_ParentId").find(":selected").text().trim();
                    $("#Group_Name").val(txt)
                }
            });
            $("#btnAdd").click(function (e) {
                e.preventDefault();
                if ($("#groupForm").valid()) {
                    $.ajax({
                        url: "/Admin/AddGroup",
                        data: $("#groupForm").serialize(),
                        type: "Post",
                        dataType: "Json",
                        success: function (result) {
                            if (result.Success) {
                                $("#divGroupList").html(result.Html);
                            }
                            eval(result.Script);
                        },
                        error: function () {
                            alert("خطا!");
                        }
                    });
                }
            });
            $("#btnDelete").click(function (e) {
                e.preventDefault();
                if ($("#Group_ParentId").find(":selected").length > 0) {
                    $.ajax({
                        url: "/Admin/DeleteGroup",
                        data: { id: $("#Group_ParentId").find(":selected").val() },
                        type: "Post",
                        dataType: "Json",
                        success: function (result) {
                            if (result.Success) {
                                $("#divGroupList").html(result.Html);
                            }
                            eval(result.Script);
                        },
                        error: function () {
                            alert("خطا!");
                        }
                    });
                }
                else {
                    alert("ابتدا گروه را انتخاب کنید");
                }
            });
            $("#btnEdit").click(function (e) {
                e.preventDefault();
                if ($("#groupForm").valid()) {
                    if ($("#Group_ParentId").find(":selected").length > 0) {
                        $.ajax({
                            url: "/Admin/EditGroup",
                            data: {
                                Id: $("#Group_ParentId").find(":selected").val(),
                                Name: $("#Group_Name").val(),
                                ParentId: $("#Group_ParentId").find(":selected").attr("parentid")
                            },
                            type: "Post",
                            dataType: "Json",
                            success: function (result) {
                                if (result.Success) {
                                    $("#divGroupList").html(result.Html);
                                }
                                eval(result.Script);
                            },
                            error: function () {
                                alert("خطا!");
                            }
                        });
                    }
                    else {
                        alert("ابتدا گروه را انتخاب کنید");
                    }
                }
            });
        });
    </script>
}